
@import url("../webfont/suzuki-webfontkit/stylesheet.css");

.hide{display:none!important}.show{display:block!important}

body {
    font-family:"Lato";
}


html {
    -webkit-font-smoothing:antialiased;
}
#logo-wrapper{height:76px;left:50%;margin-left:-480px;position:absolute;width:350px;z-index:1005;top:0}
#logo-wrapper #logo{background:url("../../images/template/common/header/horizontal_logo.png") 0 0 no-repeat;height:76px;margin:13px 0 0 0;width:337px}
#logo-wrapper #logo a{display:block;height:76px;margin:-3px 0 0 8px;width:337px;float:left;-webkit-transition:margin-top ease-in;-webkit-transition-delay:0.15s;-moz-transition:margin-top ease-in 0.15s;-o-transition:margin-top ease-in 0.15s;transition:margin-top ease-in 0.15s}
#logo-wrapper #logo a span{position: relative;
top: 0px;
left: 155px;
font-size: 18px;
text-transform: uppercase;
color: #fff;
font-family: 'Suzuki-HeadlineRegular';display:inline-block;}



#content-wrapper{padding-top:95px}
.header-wrapper {
    position:relative;
}
.header-wrapper #header-zone {
    height:95px;
    overflow:hidden;
    position:fixed;
    width:100%;
    z-index:1000;
    box-shadow:0 0 3px rgba(0, 0, 0, 0.4);
}
.header-wrapper #header-zone.opened {
    box-shadow:none;
}
.header-wrapper #header-zone ol, .header-wrapper #header-zone ul, .header-wrapper #header-zone li {
    margin:0;
    padding:0;
}
.header-wrapper #header-zone li {
    list-style:none;
}
.header-wrapper #header-zone #models-header .content, .header-wrapper #header-zone #regular-header .content {
    margin:0 auto;
    width:960px;
}
.header-wrapper #header-zone #models-header .content-no_wrapper, .header-wrapper #header-zone #regular-header .content-no_wrapper {
    margin:0 auto;
}
.header-wrapper #header-zone #models-header {
    background:url("../../images/template/models/top-bg.png") left top repeat-x;
    height:50px;
}
.header-wrapper #header-zone #models-header li {
    margin-right:20px;
    float:left;
}
.header-wrapper #header-zone #models-header ul.models-menu {
    height:50px;
}
.header-wrapper #header-zone #models-header ul.models-menu li {
    background:url("../images/template/models/separator.png") left top no-repeat;
    display:inline;
    margin:0;
    font-size:16px;
}
.header-wrapper #header-zone #models-header ul.models-menu li a {
    display:block;
    height:50px;
    line-height:50px;
    margin:0;
    padding:0 34px;
    color:#ffffff;
}
.header-wrapper #header-zone #models-header ul.models-menu li:hover a, .header-wrapper #header-zone #models-header ul.models-menu li.current a {
    background-color:#ba1f16;
}
.header-wrapper #header-zone #models-header ul.models-menu li.first {
    font-weight:bold;
    width:167px;
}
.header-wrapper #header-zone #models-header ul.models-menu li.first a {
    padding:0;
    text-align:center;
}
.header-wrapper #header-zone #models-header ul.models-menu li.first a.swift-sport {
    background:url("../images/template/models/logos/swift_sport.png") center 10px no-repeat;
}
.header-wrapper #header-zone #models-header ul.models-menu li.first a.swift {
    background:url("../images/template/models/logos/swift.png") center 15px no-repeat;
}
.header-wrapper #header-zone #models-header ul.models-menu li.first a.kizashi {
    background:url("../images/template/models/logos/kizashi.png") center 15px no-repeat;
}
.header-wrapper #header-zone #models-header ul.models-menu li.first a.grand-vitara {
    background:url("../images/template/models/logos/grand_vitara.png") center 12px no-repeat;
}
.header-wrapper #header-zone #models-header ul.models-menu li.first a.sx4-crossover {
    background:url("../images/template/models/logos/sx4_crossover.png") center 7px no-repeat;
}
.header-wrapper #header-zone #models-header ul.models-menu li.first a.sx4-sedan {
    background:url("../images/template/models/logos/sx4_sedan.png") center 7px no-repeat;
}
.header-wrapper #header-zone #models-header ul.models-menu li.first a.s-cross {
    background:url("../images/template/models/logos/s-cross.png") center 15px no-repeat;
}
.header-wrapper #header-zone #models-header ul.models-menu li.first.current a {
    background-color:#ba1f16;
}
.header-wrapper #header-zone #models-header ul.models-menu li.top {
    background:none;
    position:fixed;
    bottom:28px;
    left:50%;
    margin:0 0 0 540px;
    height:60px;
    width:60px;
    z-index:9999;
}
.header-wrapper #header-zone #models-header ul.models-menu li.top a {
    opacity:1;
    background:url("../images/template/models/button-scroll-top.png") left top no-repeat;
    display:block;
    height:60px;
    width:60px;
    padding:0;
}
.header-wrapper #header-zone #models-header ul.models-menu li.top a span {
    display:none;
}
.header-wrapper #header-zone #models-header ul.models-menu li.top a:hover {
    background-position:left bottom;
}
.header-wrapper #header-zone #regular-header {
    background:#2a2a2a;
    height:95px;
}
.header-wrapper #header-zone #regular-header .content-no_wrapper #top-bar {
    width:960px;
    margin:0 auto;
    font-size:13px;
    height:35px;
}
.header-wrapper #header-zone #regular-header .content-no_wrapper #top-bar ul {
    padding:0;
    overflow:hidden;
    float:right;
}
.header-wrapper #header-zone #regular-header .content-no_wrapper #top-bar ul li {
    float:left;
    padding:0;
    margin:0;
    height:35px;
}
.header-wrapper #header-zone #regular-header .content-no_wrapper #top-bar ul li a span {
    display:block;
    padding:8px 15px 8px 15px;
    color:#e5e5e5;
    line-height:19px;
    font-size:13px;
}
.header-wrapper #header-zone #regular-header .content-no_wrapper #top-bar ul li span {
    display:block;
    padding:8px 15px 8px 15px;
    color:#e5e5e5;
    line-height:19px;
    font-size:13px;
}
.header-wrapper #header-zone #regular-header .content-no_wrapper #top-bar ul li a:hover {
    text-decoration:none;
    background-color:#000d12 !important;
}
.header-wrapper #header-zone #regular-header .content-no_wrapper #top-bar ul li.last {
    border:0;
}
.header-wrapper #header-zone #regular-header .content-no_wrapper #main-nav {
    background:#fff;
    height:60px;
}
.header-wrapper #header-zone #regular-header .content-no_wrapper #main-nav nav {
    margin:0 auto;
    width:960px;
    float:none;
}
.header-wrapper #header-zone #regular-header .content-no_wrapper #main-nav nav ul {
    float:right;
}
.header-wrapper #header-zone #regular-header .content-no_wrapper #main-nav nav ul li {
    float:left;
    border-right:1px solid #e5e5e5;
}
.header-wrapper #header-zone #regular-header .content-no_wrapper #main-nav nav ul li a {
    background-color:#fff;
    font-size:19px;
    font-weight:300;
    padding:0 19px 0 18px;
    line-height:60px;
    height:60px;
    display:inline-block;
}
.header-wrapper #header-zone #regular-header .content-no_wrapper #main-nav nav ul li a span {
    color:#404040;
}
.header-wrapper #header-zone #regular-header .content-no_wrapper #main-nav nav ul li a:hover {
    text-decoration:none;
    background-color:#fafafa;
}
.header-wrapper #header-zone #regular-header .content-no_wrapper #main-nav nav ul li a:hover span {
    background-position:right -133px;
}
.header-wrapper #header-zone #regular-header .content-no_wrapper #main-nav nav ul li .expand-header span {
    background:url("../../images/template/common/header/expand-arrow.png") right -12px no-repeat;
    padding-right:20px;
    padding-top:-2px;
}
.header-wrapper #header-zone #regular-header .content-no_wrapper #main-nav nav ul li .expand-header.active {
    text-decoration:none;
    background:url("../../images/template/common/header/red-bar.png") left top repeat-x #FFF;
}
.header-wrapper #header-zone #regular-header .content-no_wrapper #main-nav nav ul li .expand-header.active span {
    color:#e23136;
    background-position:right -62px;
}
.header-wrapper #header-zone #regular-header .content-no_wrapper #main-nav nav ul li.last a {
    padding-left:28px;
}
.header-wrapper.shadow {
    box-shadow:0 2px 3px rgba(0, 0, 0, 0.3);
}




body {
    font-family:'Lato', sans-serif;
}
#footer-wrapper {
    background-color:#171617;
}
#footer-wrapper #footer-content {
    margin:0 auto -1px;
    padding:30px 0 15px;
    width:960px;
}
#footer-wrapper #footer-content .footer-row {
    color:#777;
    font-size:14px;
    padding:15px 0;
    overflow:hidden;
}
#footer-wrapper #footer-content .footer-row a {
    display:block;
    line-height:140%;
    font-weight:700;
    padding:0 0 5px;
}
#footer-wrapper #footer-content .footer-row a, #footer-wrapper #footer-content .footer-row a:visited {
    color:#777;
    text-decoration:none;
}
#footer-wrapper #footer-content .footer-row a:visited, #footer-wrapper #footer-content .footer-row a:visited:visited {
    color:#777;
}
#footer-wrapper #footer-content .footer-row a:hover, #footer-wrapper #footer-content .footer-row a:active {
    color:#aaa;
    text-decoration:underline;
}
#footer-wrapper #footer-content .footer-row li, #footer-wrapper #footer-content .footer-row ul {
    margin:0;
    padding:0;
}
#footer-wrapper #footer-content .footer-row li {
    list-style:none;
    display:block;
}
#footer-wrapper #footer-content .footer-row p {
    line-height:140%;
    margin:0;
    font-weight:700;
    color:#777;
}
#footer-wrapper #footer-content .footer-row .footer-copyright, #footer-wrapper #footer-content .footer-row .footer-legals {
    float:left;
    font-size:13px;
    line-height:140%;
}
#footer-wrapper #footer-content .footer-row .footer-copyright ul.links, #footer-wrapper #footer-content .footer-row .footer-legals ul.links {
    margin:0;
    padding:0;
    overflow:hidden;
}
#footer-wrapper #footer-content .footer-row .footer-copyright ul.links li, #footer-wrapper #footer-content .footer-row .footer-legals ul.links li {
    padding:0 10px 0;
    border-right:1px solid #999;
    float:left;
}
#footer-wrapper #footer-content .footer-row .footer-copyright ul.links li.last, #footer-wrapper #footer-content .footer-row .footer-legals ul.links li.last {
    padding-right:0;
    border:0;
}
#footer-wrapper #footer-content .footer-row .footer-legals {
    float:right;
}
#footer-wrapper #footer-content .footer-row .footer-column {
    float:left;
    margin-left:20px;
    width:165px;
}
#footer-wrapper #footer-content .footer-row .footer-column ul.links {
    float:left;
    width:auto;
}
#footer-wrapper #footer-content .footer-row .footer-column ul.links.links-s-1 {
    margin-right:20px;
    width:100px;
}
#footer-wrapper #footer-content .footer-row .footer-column ul.links.links-s-2 {
    width:90px;
}
#footer-wrapper #footer-content .footer-row .footer-column.column-b {
    width:115px;
}
#footer-wrapper #footer-content .footer-row .footer-column.column-c {
    width:210px;
}
#footer-wrapper #footer-content .footer-row .footer-column.column-d {
    width:190px;
}
#footer-wrapper #footer-content .footer-row .footer-column.column-e {
    width:165px;
}
#footer-wrapper #footer-content .footer-row .footer-column.column-f {
    width:130px;
}
#footer-wrapper #footer-content .footer-row .footer-column.column-g {
    width:560px;
}
#footer-wrapper #footer-content .footer-row .footer-title {
    color:#fff;
    font-weight:900;
    font-size:16px;
    height:27px;
    line-height:27px;
    margin:0 0 10px;
}
#footer-wrapper #footer-content .footer-row .footer-title i {
    display:none;
}
#footer-wrapper #footer-content .footer-row.row-1 {
    border-bottom:1px solid #333;
}
#footer-wrapper #footer-content .footer-row.row-2 {
    border-bottom:1px solid #333;
}
#footer-wrapper #footer-content .footer-row.footer-brand {
    margin:-140px 0 60px 830px;
    padding:0;
}
#footer-wrapper .footer-form form fieldset {
    width:204px;
}
#footer-wrapper .footer-form form fieldset input {
    width:172px;
}
#footer-wrapper .footer-form form fieldset .invalid-message {
    width:184px;
    color:#fff !important;
    margin-top:10px !important;
}
#footer-wrapper .footer-form form .submit {
    width:auto;
}
#footer-wrapper .footer-form form fieldset, #footer-wrapper .footer-form form .submit {
    float:left;
    margin-right:20px;
}
#footer-wrapper .footer-form form fieldset label, #footer-wrapper .footer-form form .submit label {
    color:#777 !important;
}
#footer-wrapper .footer-form form .submit {
    float:left;
    margin:37px 0 0 0;
}
#footer-wrapper .footer-form form .submit .button {
    font-weight:300;
}
#header-panel {
    display:none;
    overflow:hidden;
    padding-top:95px;
    width:100%;
    position:fixed;
    background-color:#fff;
    box-shadow:0 0 3px rgba(0, 0, 0, 0.4);
    z-index:100;
}
#header-panel #header-sections-wrapper {
    width:1000%;
}
#header-panel #header-sections-wrapper .header-section {
    float:left;
    width:10%;
    padding-bottom:30px;
}
#header-panel #header-sections-wrapper .header-section .header-section-content-wrapper {
    margin:0 auto;
    width:960px;
    position:relative;
}
